{
    "bot_token": "your_bot_token_here",
    "owner": "your_discord_username_here",
    "botname": "bot_discord_username_here",
    "server_name": "your_server_name",
    "channel_name": "your_channel_name",
    "userskip": false,
    "SOUNDCLOUD_ID": "your_soundcloud_client_id"
}
